---
layout: default
---


<style>
.button-simple {
  background-color: white;
  color: #337ab7;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button-simple:hover {
  background-color: #337ab7; /* blue */
  color: white;
}
.button-tags {
  background-color: white;
  color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button-tags:hover {
  background-color: #337ab7; /* blue */
  border: 1px solid #337ab7;
  color: white;
}
a h3 { color: black; }
a highligher-rouge { 
    color: #337ab7; 
}
a:hover highligher-rouge { 
  background-color: #337ab7; /* blue */
  color: white;
}
</style>

<link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">
<div class="home">
 
  <hr> 
  <p style="text-align:center;">
   <br>
   <img src="assets/img/data-science-46.png" alt="ds4ps" height="50" width="50" align="middle">
   <br>
   <img src="assets/img/public-sector-blue2.jpg" alt="ds4ps" height="200" width="200" align="middle">
   </p>
   <div class="uk-container-small">

{{content}}
  

<br>
  <h2 style="text-align:center;">Data Science for the <br>Public Sector</h2>
  <br>
  <hr>
  
 <br>
  <h1 class="page-heading">Topics</h1>
 <br>
     
<div>
<div id = "tagset">{{ site.tags }}</div>
</div>
     
<br>
<br>
<hr>
     
<br>
<br>
  <ul >
    {% for post in site.posts %}
      <li>
        <!-- <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->

       
        <!---------- BEGIN BLOG CARD ------------->
       
        <article style="min-height:200px;width:600px;">  
        <!-- <div style = "display: inline-block;"> -->
         
          
         <!---------- BLOG DATE ------------->
         
         <div style="float:left;width:15%">
             <span class = "date_day">{{ post.date | date: "%-d" }}</span>
             <span>{{ post.date | date: "%b, %Y" }}</span>
          </div>
         
         
         <!---------- BLOG BODY ------------->
         
          <div style = "float:left;width:85%">
             
             <a class="post-css" href="{{ post.url | prepend: site.baseurl }}">
              <h3>{{ post.title }}</h3>
             </a>
             <div class = "uk-card-body">
                {{ post.excerpt  }}
             </div>
            

           <!------ READ MORE BUTTON ------->
            
           <a class="button-simple" href="{{ post.url | prepend: site.baseurl }}">
             Read more &rarr;
           </a>
            
            
           <span> <!------ TAGS ------->
            
             {% for tag in post.tags %}
               
              {% capture tag_name %}{{ tag }}{% endcapture %}
             
               <a class="button-tags" href="{{ domain }}{{site.baseurl}}/tag/tagpage.html?id={{ tag_name }}">
                  {{ tag_name }}
               </a>
            
             {% endfor %}
            
           </span>
            
           
        </div>  <!---------- END BLOG BODY ------------->
        
      </article>  <!---------- END BLOG CARD ------------->
       
      <br> 
      <hr>
      </li>
      <br>
      <br>
    {% endfor %}
  </ul>
  <br>
 
</div>
<br>
<br>

<script>
    var tagsdiv = document.getElementById("tagset");
    var tags = tagsdiv.innerHTML;
    tags = tags.replace(/&gt;/g,">");
    tags = tags.replace(/jekyll::document/g,"");
    tags = tags.replace(/posts/g,"");

    tags = tags.replace(/collection/g,"");

    tags = tags.replace(/[^a-zA-Z{}\[\]\,]/g," ");
        tags = tags.replace(/post/g,"");
        tags = tags.replace(/md/g,"");
        tags = tags.replace(/\s/g,'');
        tags = tags.replace(/\[\,*\]/g,"").replace("{","").replace("}","");
        tagsdiv.innerHTML = "";
        console.log(tags);

    for(var t in  tags.split(",")){
      var alink = document.createElement("a");
      alink.setAttribute("class","button");
     
      alink.setAttribute("href","{{ domain }}{{site.baseurl}}/tag/tagpage.html?id="+tags.split(",")[t]);
      
              var text = document.createTextNode(tags.split(",")[t]);
              var dateSpan = document.createElement('span');
              dateSpan.setAttribute("class","span");
      alink.appendChild(text);
      tagsdiv.appendChild(alink);
      tagsdiv.appendChild(dateSpan);
    }


    
    //tagsdiv.innerHTML = tags;
  </script>
